<template name="createLot">
    <div class="form-group">
        <label>Description:</label> 
        <input type="text" id="lotds" class="form-control" placeholder="Add descripton" /> 
    </div>
    <div class="form-group">
        <label>Minimal price:</label> 
        <input type="number" id="minprice" class="form-control" />
    </div>
    <div class="form-group">
        <label>Buy out price:</label> 
        <input type="number" id="buyout" class="form-control" />
    </div>
    <div class="form-group">
        <label>Lot close block:</label> 
        <input type="number" id="lastBlock" class="form-control" />
    </div>
    <button id="zapilit" class="btn btn-default">Create lot</button>
    
</template>